* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes drop-in {
  from {
    transform: rotate(30deg) translate(-100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.main-header {
  display: grid;
  grid-template-rows: 0.9fr 10fr;
  height: 100vh;
}

.header-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

#header-icons {
  display: flex;
  justify-content: space-between;
  width: 15%;
  height: 100%;
}

.contact-me {
  font-size: 3vw;
}

#header-icons > a > img {
  width: 4vw;
}

.main-header,
.footer {
  background: #e7f0f2;
}

.title {
  font-size: 10vw;
  transition: ease-in-out 250ms;
  animation: drop-in 1000ms;
  transition: ease-out;
}

#header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  font-family: "Inria Serif", serif;
}

.description {
  font-size: 2.5rem;
  max-width: 65vw;
  padding-bottom: 4rem;
  color: #1b5c6a;
  animation: drop-in 1100ms;
}

#occupation,
.contact-me {
  font-family: "Roboto Mono", monospace;
}

button {
  transition: ease-out;
  display: grid;
  grid-template-columns: 90% 10%;
  color: #1b5c6a;
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  font-family: "Inria Serif", serif;
  font-weight: bold;
  width: 100%;
  letter-spacing: 0.5rem;
  border-radius: 1vw;
  border: solid #1b5c6a;
  background-color: #e7f0f2;
  box-shadow:
    rgba(29, 202, 255, 0.4) -5px 5px,
    rgba(29, 202, 255, 0.3) -10px 10px,
    rgba(29, 202, 255, 0.2) -15px 15px,
    rgba(29, 202, 255, 0.1) -20px 20px,
    rgba(29, 202, 255, 0.05) -25px 25px;
  animation: slide 1000ms;
}

button:hover {
  color: #4fc5de;
}

#down-icon {
  padding-left: 0.5rem;
  height: 3rem;
  width: 3rem;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2.5rem 0 2.5rem;
  min-height: 100vh;
  flex: 1 0;
}

.all-projects {
  min-height: 100%;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 1.5rem;
}

#title-content,
.footer-title {
  animation: slide 1000ms;
  font-size: 4rem;
  font-family: "Inria Serif", serif;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1vw;
  height: 45vh;
  justify-content: space-evenly;
  background-color: antiquewhite;
  padding: 1rem 1.5rem 1rem 1.5rem;
  min-width: 100px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.project-title {
  font-size: 1.5em;
  font-weight: bolder;
}

.project-description {
  text-align: left;
  font-family: "Inria Serif", serif;
}

.project-pic {
  object-fit: cover;
  height: 15rem;
}

.title-icon-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.3em 0 0.3em 0;
  align-self: baseline;
}

.icon {
  width: 2em;
}

.profile-pic {
  height: 25em;
}

footer {
  font-family: "Inria Serif", serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.5rem;
  height: 50vh;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-description {
  font-size: 1.5rem;
  max-width: 55vw;
  color: #1b5c6a;
  animation: drop-in 1100ms;
  padding-bottom: 1rem;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.tel,
.email {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.5rem;
}

@media (max-width: 1028px) {
  .description {
    font-size: 1.5rem;
    justify-self: center;
    padding-bottom: 3rem;
  }
  button {
    letter-spacing: 0;
    font-size: 1rem;
    align-items: center;
    letter-spacing: 0.5px;
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
  #down-icon {
    height: 1.5em;
  }
}

@media (max-width: 961px) {
  .all-projects {
    grid-template-columns: 1fr 1fr;
  }
  .footer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1 0;
  }
  .contact-info {
    padding: 3rem 0 3rem 0;
  }
}

@media (max-width: 795px) {
  .all-projects {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  #header-content {
    justify-content: center;
    align-items: center;
    width: 80vw;
  }
  .title {
    font-size: 5rem;
    padding-left: 0.2em;
  }
  .description {
    padding-top: 1rem;
    padding-right: 2.8rem;
    font-size: 2rem;
    justify-self: start;
  }

  button {
    letter-spacing: 0;
    font-size: 1.3rem;
    align-items: center;
    letter-spacing: 0.5px;
  }
  #header-icons {
    display: none;
  }
  .header-header {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    justify-self: flex-end;
  }
  .main-header {
    flex: 1 0;
  }
}
