* {
  margin: 0;
}

@keyframes drop-in {
  from {
    transform: rotate(30deg) translate(-100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

body {
  display: grid;
  grid-template-rows: 100vh 100vh 30%;
}

.title {
  font-size: 10vw;
  transition: ease-in-out 250ms;
  animation: drop-in 1000ms;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  font-family: "Inria Serif", serif;
}

.description {
  font-size: 2.5rem;
  max-width: 65vw;
  padding-bottom: 4rem;
  color: #1b5c6a;
  animation: drop-in 1100ms;
}

#occupation {
  font-family: "Roboto Mono", monospace;
}

button {
  display: grid;
  grid-template-columns: 90% 10%;
  color: #1b5c6a;
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  font-family: "Inria Serif", serif;
  font-weight: bold;
  width: 100%;
  letter-spacing: 0.5rem;
  border-radius: 1vw;
  border: solid #1b5c6a;
  background-color: #e7f0f2;
  box-shadow:
    rgba(29, 202, 255, 0.4) -5px 5px,
    rgba(29, 202, 255, 0.3) -10px 10px,
    rgba(29, 202, 255, 0.2) -15px 15px,
    rgba(29, 202, 255, 0.1) -20px 20px,
    rgba(29, 202, 255, 0.05) -25px 25px;
  animation: slide 1000ms;
}

button:hover {
  color: #4fc5de;
}

#down-icon {
  padding-left: 0.5rem;
  height: 3rem;
  width: 3rem;
}

@media (max-width: 425px) {
  .header {
    justify-content: center;
  }
  .header-content {
    justify-content: center;
    align-items: center;
    width: 80vw;
  }
  .title {
    font-size: 5rem;
  }
  .description {
    padding-top: 1rem;
    padding-right: 2.8rem;
    font-size: 2rem;
    justify-self: start;
  }

  button {
    letter-spacing: 0;
    font-size: 1.3rem;
    align-items: center;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 1028px) {
  .description {
    font-size: 1.5rem;
    justify-self: center;
    padding-bottom: 3rem;
  }
  button {
    letter-spacing: 0;
    font-size: 1rem;
    align-items: center;
    letter-spacing: 0.5px;
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
  #down-icon {
    height: 1.5em;
  }
}

header,
footer {
  background: #e7f0f2;
}
